BQF/BQF-Src/Common4.7.3/ClassXMLParse_OnlineService/Application.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by wilson (dectech) -->
<xs:schema xmlns="http://tempuri.org/Application.xsd" xmlns:mstns="http://tempuri.org/Application.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata"
	targetNamespace="http://tempuri.org/Application.xsd" elementFormDefault="qualified" id="Application">
	<xs:element name="ApplicationSchema">
		<xs:complexType>
			<xs:choice>
				<xs:element name="Application">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Organisation" type="xs:string" />
							<xs:element name="Country_Code" type="xs:string" />
							<xs:element name="Group_Member_Code" type="xs:string" />
							<xs:element name="Application_Number" type="xs:string" />
							<xs:element name="Capture_Date" type="xs:dateTime" />
							<xs:element name="Capture_Time" type="xs:dateTime" />
							<xs:element name="Expiry_Date" type="xs:dateTime" minOccurs="0" />								<xs:element name="Application_Date" type="xs:dateTime" />
							<xs:element name="Application_Type" type="xs:string" />
							<xs:element name="Amount_Limit" type="xs:long" minOccurs="0" />
							<xs:element name="Branch" type="xs:string" minOccurs="0" />
							<xs:element name="Decision" type="xs:string" minOccurs="0" />
							<xs:element name="Decision_Reason" type="xs:string" minOccurs="0" />
							<xs:element name="Decision_Date" type="xs:dateTime" minOccurs="0" />
							<xs:element name="User_Field1" type="xs:string" minOccurs="0" />
							<xs:element name="User_Field2" type="xs:string" minOccurs="0" />
							<xs:element name="User_Field3" type="xs:string" minOccurs="0" />
							<xs:element name="User_Field4" type="xs:string" minOccurs="0" />
							<xs:element name="User_Field5" type="xs:string" minOccurs="0" />
							<xs:element name="User_Field6" type="xs:string" minOccurs="0" />
							<xs:element name="User_Field7" type="xs:string" minOccurs="0" />
							<xs:element name="User_Field8" type="xs:string" minOccurs="0" />
							<xs:element name="User_Field9" type="xs:string" minOccurs="0" />
							<xs:element name="User_Field10" type="xs:string" minOccurs="0" />
							<xs:element name="User_Field11" type="xs:string" minOccurs="0" />
							<xs:element name="User_Field12" type="xs:string" minOccurs="0" />
							<xs:element name="User_Field13" type="xs:string" minOccurs="0" />
							<xs:element name="User_Field14" type="xs:string" minOccurs="0" />
							<xs:element name="User_Field15" type="xs:string" minOccurs="0" />
							<xs:element name="User_Field16" type="xs:string" minOccurs="0" />
							<xs:element name="User_Field17" type="xs:string" minOccurs="0" />
							<xs:element name="User_Field18" type="xs:string" minOccurs="0" />
							<xs:element name="User_Field19" type="xs:string" minOccurs="0" />
							<xs:element name="User_Field20" type="xs:string" minOccurs="0" />
							<xs:element name="Applicant" maxOccurs="unbounded" minOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Id_Number1" type="xs:string" minOccurs="0" />
										<xs:element name="Id_Number2" type="xs:string" minOccurs="0" />
										<xs:element name="Id_Number3" type="xs:string" minOccurs="0" />
										<xs:element name="Surname" type="xs:string" minOccurs="0" />
										<xs:element name="First_Name" type="xs:string" minOccurs="0" />
										<xs:element name="Middle_Name" type="xs:string" minOccurs="0" />
										<xs:element name="Sex" type="xs:string" minOccurs="0" />
										<xs:element name="Date_Of_Birth" type="xs:dateTime" minOccurs="0" />
										<xs:element name="Home_Address1" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address2" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address3" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address4" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address5" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address6" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Postcode" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Phone_Number" type="xs:string" minOccurs="0" />
										<xs:element name="Mobile_Phone_Number" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Name" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address1" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address2" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address3" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address4" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address5" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address6" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Postcode" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Phone_Number" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field1" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field2" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field3" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field4" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field5" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field6" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field7" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field8" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field9" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field10" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field11" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field12" type="xs:dateTime" minOccurs="0" />
										<xs:element name="User_Field13" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field14" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field15" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field16" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field17" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field18" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field19" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field20" type="xs:string" minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="A_Accountant_Solicitor" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Id_Number1" type="xs:string" minOccurs="0" />
										<xs:element name="Id_Number2" type="xs:string" minOccurs="0" />
										<xs:element name="Id_Number3" type="xs:string" minOccurs="0" />
										<xs:element name="Surname" type="xs:string" minOccurs="0" />
										<xs:element name="First_Name" type="xs:string" minOccurs="0" />
										<xs:element name="Middle_Name" type="xs:string" minOccurs="0" />
										<xs:element name="Mobile_Phone_Number" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Name" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address1" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address2" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address3" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address4" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address5" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address6" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Postcode" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Phone_Number" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field1" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field2" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field3" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field4" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field5" type="xs:dateTime" minOccurs="0" />
										<xs:element name="User_Field6" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field7" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field8" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field9" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field10" type="xs:string" minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Guarantor" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Id_Number1" type="xs:string" minOccurs="0" />
										<xs:element name="Id_Number2" type="xs:string" minOccurs="0" />
										<xs:element name="Id_Number3" type="xs:string" minOccurs="0" />
										<xs:element name="Surname" type="xs:string" minOccurs="0" />
										<xs:element name="First_Name" type="xs:string" minOccurs="0" />
										<xs:element name="Middle_Name" type="xs:string" minOccurs="0" />
										<xs:element name="Sex" type="xs:string" minOccurs="0" />
										<xs:element name="Date_Of_Birth" type="xs:dateTime" minOccurs="0" />
										<xs:element name="Home_Address1" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address2" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address3" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address4" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address5" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address6" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Postcode" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Phone_Number" type="xs:string" minOccurs="0" />
										<xs:element name="Mobile_Phone_Number" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Name" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address1" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address2" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address3" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address4" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address5" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address6" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Postcode" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Phone_Number" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field1" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field2" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field3" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field4" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field5" type="xs:dateTime" minOccurs="0" />
										<xs:element name="User_Field6" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field7" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field8" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field9" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field10" type="xs:string" minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Introducer_Agent" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Id_Number1" type="xs:string" minOccurs="0" />
										<xs:element name="Id_Number2" type="xs:string" minOccurs="0" />
										<xs:element name="Id_Number3" type="xs:string" minOccurs="0" />
										<xs:element name="Surname" type="xs:string" minOccurs="0" />
										<xs:element name="First_Name" type="xs:string" minOccurs="0" />
										<xs:element name="Middle_Name" type="xs:string" minOccurs="0" />
										<xs:element name="Mobile_Phone_Number" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Name" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address1" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address2" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address3" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address4" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address5" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address6" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Postcode" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Phone_Number" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field1" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field2" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field3" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field4" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field5" type="xs:dateTime" minOccurs="0" />
										<xs:element name="User_Field6" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field7" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field8" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field9" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field10" type="xs:string" minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Reference" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Id_Number1" type="xs:string" minOccurs="0" />
										<xs:element name="Id_Number2" type="xs:string" minOccurs="0" />
										<xs:element name="Id_Number3" type="xs:string" minOccurs="0" />
										<xs:element name="Surname" type="xs:string" minOccurs="0" />
										<xs:element name="First_Name" type="xs:string" minOccurs="0" />
										<xs:element name="Middle_Name" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address1" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address2" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address3" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address4" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address5" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address6" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Postcode" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Phone_Number" type="xs:string" minOccurs="0" />
										<xs:element name="Mobile_Phone_Number" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Phone_Number" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field1" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field2" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field3" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field4" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field5" type="xs:dateTime" minOccurs="0" />
										<xs:element name="User_Field6" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field7" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field8" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field9" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field10" type="xs:string" minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Security" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Id_Number1" type="xs:string" minOccurs="0" />
										<xs:element name="Id_Number2" type="xs:string" minOccurs="0" />
										<xs:element name="Id_Number3" type="xs:string" minOccurs="0" />
										<xs:element name="Surname" type="xs:string" minOccurs="0" />
										<xs:element name="First_Name" type="xs:string" minOccurs="0" />
										<xs:element name="Middle_Name" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address1" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address2" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address3" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address4" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address5" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address6" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Postcode" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field1" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field2" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field3" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field4" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field5" type="xs:dateTime" minOccurs="0" />
										<xs:element name="User_Field6" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field7" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field8" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field9" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field10" type="xs:string" minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PreviousAddress_Company" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Home_Address1" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address2" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address3" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address4" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address5" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address6" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Postcode" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Phone_Number" type="xs:string" minOccurs="0" />
										<xs:element name="Mobile_Phone_Number" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Name" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address1" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address2" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address3" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address4" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address5" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address6" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Postcode" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Phone_Number" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field1" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field2" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field3" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field4" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field5" type="xs:dateTime" minOccurs="0" />
										<xs:element name="User_Field6" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field7" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field8" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field9" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field10" type="xs:string" minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Valuer" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Id_Number1" type="xs:string" minOccurs="0" />
										<xs:element name="Id_Number2" type="xs:string" minOccurs="0" />
										<xs:element name="Id_Number3" type="xs:string" minOccurs="0" />
										<xs:element name="Surname" type="xs:string" minOccurs="0" />
										<xs:element name="First_Name" type="xs:string" minOccurs="0" />
										<xs:element name="Middle_Name" type="xs:string" minOccurs="0" />
										<xs:element name="Mobile_Phone_Number" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Name" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address1" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address2" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address3" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address4" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address5" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address6" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Postcode" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Phone_Number" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field1" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field2" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field3" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field4" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field5" type="xs:dateTime" minOccurs="0" />
										<xs:element name="User_Field6" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field7" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field8" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field9" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field10" type="xs:string" minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="User" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Id_Number1" type="xs:string" minOccurs="0" />
										<xs:element name="Id_Number2" type="xs:string" minOccurs="0" />
										<xs:element name="Id_Number3" type="xs:string" minOccurs="0" />
										<xs:element name="Surname" type="xs:string" minOccurs="0" />
										<xs:element name="First_Name" type="xs:string" minOccurs="0" />
										<xs:element name="Middle_Name" type="xs:string" minOccurs="0" />
										<xs:element name="Sex" type="xs:string" minOccurs="0" />
										<xs:element name="Date_Of_Birth" type="xs:dateTime" minOccurs="0" />
										<xs:element name="Home_Address1" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address2" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address3" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address4" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address5" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address6" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Postcode" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Phone_Number" type="xs:string" minOccurs="0" />
										<xs:element name="Mobile_Phone_Number" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Name" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address1" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address2" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address3" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address4" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address5" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Address6" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Postcode" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Phone_Number" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field1" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field2" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field3" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field4" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field5" type="xs:dateTime" minOccurs="0" />
										<xs:element name="User_Field6" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field7" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field8" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field9" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field10" type="xs:string" minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CreditBureau" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Id_Number1" type="xs:string" minOccurs="0" />
										<xs:element name="Id_Number2" type="xs:string" minOccurs="0" />
										<xs:element name="Id_Number3" type="xs:string" minOccurs="0" />
										<xs:element name="Surname" type="xs:string" minOccurs="0" />
										<xs:element name="First_Name" type="xs:string" minOccurs="0" />
										<xs:element name="Middle_Name" type="xs:string" minOccurs="0" />
										<xs:element name="Short_Name" type="xs:string" minOccurs="0" />
										<xs:element name="Date_Of_Birth" type="xs:dateTime" minOccurs="0" />
										<xs:element name="Sex" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address1" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address2" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address3" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address4" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address5" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Address6" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Postcode" type="xs:string" minOccurs="0" />
										<xs:element name="Full_Home_Address" type="xs:string" minOccurs="0" />
										<xs:element name="Home_Phone_Number" type="xs:string" minOccurs="0" />
										<xs:element name="Office_Phone_Number" type="xs:string" minOccurs="0" />
										<xs:element name="Mobile_Phone_Number" type="xs:string" minOccurs="0" />
										<xs:element name="Other_Phone_Number" type="xs:string" minOccurs="0" />
										<xs:element name="Company_Name" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field1" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field2" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field3" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field4" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field5" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field6" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field7" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field8" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field9" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field10" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field11" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field12" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field13" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field14" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field15" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field16" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field17" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field18" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field19" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field20" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field21" type="xs:dateTime" minOccurs="0" />
										<xs:element name="User_Field22" type="xs:dateTime" minOccurs="0" />
										<xs:element name="User_Field23" type="xs:dateTime" minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="User2" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="User_Field1" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field2" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field3" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field4" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field5" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field6" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field7" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field8" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field9" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field10" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field11" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field12" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field13" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field14" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field15" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field16" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field17" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field18" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field19" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field20" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field21" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field22" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field23" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field24" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field25" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field26" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field27" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field28" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field29" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field30" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field31" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field32" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field33" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field34" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field35" type="xs:string" minOccurs="0" />
										<xs:element name="User_Field36" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field37" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field38" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field39" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field40" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field41" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field42" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field43" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field44" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field45" type="xs:long" minOccurs="0" />
										<xs:element name="User_Field46" type="xs:dateTime" minOccurs="0" />
										<xs:element name="User_Field47" type="xs:dateTime" minOccurs="0" />
										<xs:element name="User_Field48" type="xs:dateTime" minOccurs="0" />
										<xs:element name="User_Field49" type="xs:dateTime" minOccurs="0" />
										<xs:element name="User_Field50" type="xs:dateTime" minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>